@keyframes tooltip-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.policy-item {
  position: relative;
  width: calc((100% / 3) - 94px);
  height: 209px;
  width: 341px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &-tooltip {
    position: absolute;
    pointer-events: none;
    appearance: none;
    left: 100%;
    width: 400px;
    padding: 16px 16px 16px 75px;
    background-color: #dadada;
    clip-path: polygon(100% 0, 100% 100%, 75px 100%, 0 50%, 75px 0);
    z-index: 1;
    animation: tooltip-opacity 0.3s ease-in-out;

    &-switched {
      clip-path: polygon(
        calc(100% - 75px) 0,
        100% 50%,
        calc(100% - 75px) 100%,
        0 100%,
        0 0
      );
      left: initial;
      right: 100%;
      padding: 16px 75px 16px 16px;
    }
  }
  &-name {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.83);
    color: #222222;
  }
  &-mobile-tooltip {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.83);
    z-index: 1;
    text-align: left;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;

    color: #000000;
    padding-left: 20px;
    &-title {
      font-weight: normal;
      font-size: 23px;
      line-height: 27px;
      text-align: center;

      color: #222222;
      margin-bottom: 39px;
      margin-top: 70px;
    }
  }
}
@media (max-width: 1340px) {
  .policy-item-tooltip {
    max-width: 250px;
    &-switched {
      right: 100%;
      left: initial;
    }
  }
}
@media (max-width: 700px) {
  .policy-item-tooltip {
    padding: 16px 16px 16px 16px;
    clip-path: polygon(100% 0, 100% 95%, 51% 100%, 0 95%, 0 0);
    left: 0;
    right: 0;
  }
}
