.air-q {
  padding: 50px 0px;

  &-map {
    height: 560px;
    margin: 42px 0px;
  }
  &-title {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
  }
  &-text {
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #ffffff;
  }
}
@media (max-width: 720px) {
  .air-q {
    &-title {
      font-weight: normal;
      font-size: 27px;
      line-height: 32px;
    }
    &-text {
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      margin: 0px 20px;
    }
    &-map {
      margin: 20px 20px;
    }
  }
}
